# Indexing, Selecting & Assigning
Selecting specific values of a pandas **DataFrame** or **Series** to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.<br>

The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem. As a novice, this makes them easy to pick up and use. However, pandas has its own accessor operators, `loc` and `iloc`. For more advanced operations, these are the ones you're supposed to be using.

## Data
The data is from a work by Ring et al. The data is used to estimate total body water (TBW) loss using bioimpedance measurements, temperature measurements, salivary samples, and sweat samples. TBW loss was induced by 120 minutes of physical exercise without fluid intake. Physical exercise consisted of running on an indoor treadmill and was partitioned into 8 intervals of 15 minutes. Every 15-minute running interval was followed by an 8-minute resting break in which bioimpedance, temperature, sweat, and saliva were collected / measured.

Reference: Ring, M., Lohmueller, C., Rauh, M., and Eskofier, B. M. (2015). On sweat analysis for quantitative estimation of dehydration during physical exercise. Proceedings of the 37th Annual International Conference of the IEEE Engineering in Medicine and Biology Society. Milan, Italy, pp. 7011–7014.

## Index-based selection
Pandas indexing works in one of two paradigms. The first is **index-based selection**: selecting data based on its numerical position in the data. `iloc` follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:

In [1]:
import pandas as pd

In [2]:
url = 'https://physionet.org/files/qde/1.0.0/dehydration_estimation.csv?download'
dehydration = pd.read_csv(url)
dehydration

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1,29.0,190.0,8.0,0,85.515,85.90,54.0,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
1,1,NaN,NaN,NaN,1,85.275,85.56,53.7,234.75,240.08,...,31.3,56.0,146.0,NaN,29.0,NaN,NaN,78.0,NaN,544.1
2,1,NaN,NaN,NaN,2,84.895,85.32,54.0,230.81,233.95,...,31.2,55.0,134.0,111700.0,35.0,1.240,11.80,84.0,37.0,537.3
3,1,NaN,NaN,NaN,3,84.540,84.90,54.0,231.96,236.32,...,30.9,53.0,123.0,NaN,38.0,0.947,10.60,95.0,38.0,595.6
4,1,NaN,NaN,NaN,4,84.185,84.48,53.9,227.03,232.07,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,10,NaN,NaN,NaN,4,54.756,55.10,36.5,220.02,214.26,...,33.0,46.0,139.0,542510.0,31.0,1.620,15.10,94.0,45.0,779.9
86,10,NaN,NaN,NaN,5,54.522,54.92,36.7,222.31,210.66,...,32.8,NaN,164.0,777120.0,37.0,3.720,21.30,144.0,50.0,1202.9
87,10,NaN,NaN,NaN,6,54.302,54.64,36.4,220.09,215.22,...,32.6,51.0,160.0,777000.0,43.0,4.560,26.30,147.0,55.0,1269.2
88,10,NaN,NaN,NaN,7,54.070,54.48,36.6,220.29,215.13,...,32.4,60.0,277.0,858310.0,40.0,7.430,29.60,146.0,55.0,1367.1
89,10,NaN,NaN,NaN,8,53.856,54.30,36.2,222.21,220.09,...,33.2,104.0,274.0,971550.0,57.0,7.030,36.30,194.0,64.0,2541.9

To select the first row of data in a DataFrame, we may use the following:

In [3]:
dehydration.iloc[0]

id                                             1.000
age [years]                                   29.000
height [cm]                                  190.000
running speed [km/h]                           8.000
running interval                               0.000
weight measured using Kern DE 150K2D [kg]     85.515
weight measured using InBody 720 [kg]         85.900
total body water using InBody 720 [l]         54.000
impedance right arm at 1000kHz [Ohm]         231.270
impedance left arm at 1000kHz [Ohm]          232.630
impedance trunk at 1000kHz [Ohm]              14.980
impedance right leg at 1000kHz [Ohm]         205.040
impedance left leg at 1000kHz [Ohm]          212.040
temperature ear [degree C]                    36.700
temperature left hand [degree C]              32.600
temperature right hand [degree C]             31.900
temperature left foot [degree C]              27.900
temperature right foot [degree C]             28.300
temperature chest [degree C]                  32.800
temperature back [degree C]                   33.700
temperature upper arm [degree C]              32.200
temperature lower arm [degree C]              32.000
temperature upper leg [degree C]              31.600
temperature lower leg [degree C]              31.900
sweat chloride [mmol/l]                          NaN
sweat osmolality [mmol/kg]                       NaN
salivary amylase [units/l]                       NaN
salivary chloride [mmol/l]                    28.000
salivary cortisol [ng/ml]                        NaN
salivary cortisone [ng/ml]                       NaN
salivary osmolality [mmol/kg]                 76.000
salivary potassium [mmol/l]                      NaN
salivary protein concentration [mg/l]        576.800
Name: 0, dtype: float64

Both `loc` and `iloc` are ***row-first, column-second***. This is the opposite of what we do in native Python, which is *column-first, row-second*.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. To get a column with `iloc`, we can do the following:

In [31]:
dehydration.iloc[:, 0]

0      1
1      1
2      1
3      1
4      1
      ..
85    10
86    10
87    10
88    10
89    10
Name: id, Length: 90, dtype: int64

On its own, the `:` operator, which also comes from native Python, means "everything".

`Write down the code to get a column in "weight measured using Kern DE 150K2D [kg]"`

In [5]:
dehydration.iloc[:,5]

0     85.515
1     85.275
2     84.895
3     84.540
4     84.185
       ...
85    54.756
86    54.522
87    54.302
88    54.070
89    53.856
Name: weight measured using Kern DE 150K2D [kg], Length: 90, dtype: float64

When combined with other selectors, `:` can be used to indicate a range of values. For example, to select the `salivary chloride [mmol/l]` column from just the first, second, and third row, we would do:

In [7]:
dehydration[["salivary chloride [mmol/l]"]].iloc[:3,0]

0    28.0
1    29.0
2    35.0
Name: salivary chloride [mmol/l], dtype: float64

Or, to select just the second and third entries, we would do:

In [8]:
dehydration[["salivary chloride [mmol/l]"]].iloc[1:3,0]

1    29.0
2    35.0
Name: salivary chloride [mmol/l], dtype: float64

It's also possible to pass a list:

In [15]:
list1 = [0,1,2]
dehydration[["salivary chloride [mmol/l]"]].iloc[list1,0]

0    28.0
1    29.0
2    35.0
Name: salivary chloride [mmol/l], dtype: float64

`Write down the code to select the 2nd, 5th, 6th, 7th, and 10th data from the "sweat chloride [mmol/l]" column`

In [20]:
dehydration[['sweat chloride [mmol/l]']].iloc[[1,4,5,6,9],0]

1    56.0
4    36.0
5    69.0
6     NaN
9     NaN
Name: sweat chloride [mmol/l], dtype: float64

Finally, it's worth knowing that negative numbers can be used in selection. This will start counting forwards from the end of the values. So for example here are the last five elements of the dataset.

In [21]:
dehydration.tail()

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
85,10,NaN,NaN,NaN,4,54.756,55.10,36.5,220.02,214.26,...,33.0,46.0,139.0,542510.0,31.0,1.62,15.1,94.0,45.0,779.9
86,10,NaN,NaN,NaN,5,54.522,54.92,36.7,222.31,210.66,...,32.8,NaN,164.0,777120.0,37.0,3.72,21.3,144.0,50.0,1202.9
87,10,NaN,NaN,NaN,6,54.302,54.64,36.4,220.09,215.22,...,32.6,51.0,160.0,777000.0,43.0,4.56,26.3,147.0,55.0,1269.2
88,10,NaN,NaN,NaN,7,54.070,54.48,36.6,220.29,215.13,...,32.4,60.0,277.0,858310.0,40.0,7.43,29.6,146.0,55.0,1367.1
89,10,NaN,NaN,NaN,8,53.856,54.30,36.2,222.21,220.09,...,33.2,104.0,274.0,971550.0,57.0,7.03,36.3,194.0,64.0,2541.9

`Write down the code to display the last five elements of the dehydration dataset using negative numbers in the argument.`

In [24]:
dehydration.iloc[[-5,-4,-3,-2,-1],:]

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
85,10,NaN,NaN,NaN,4,54.756,55.10,36.5,220.02,214.26,...,33.0,46.0,139.0,542510.0,31.0,1.62,15.1,94.0,45.0,779.9
86,10,NaN,NaN,NaN,5,54.522,54.92,36.7,222.31,210.66,...,32.8,NaN,164.0,777120.0,37.0,3.72,21.3,144.0,50.0,1202.9
87,10,NaN,NaN,NaN,6,54.302,54.64,36.4,220.09,215.22,...,32.6,51.0,160.0,777000.0,43.0,4.56,26.3,147.0,55.0,1269.2
88,10,NaN,NaN,NaN,7,54.070,54.48,36.6,220.29,215.13,...,32.4,60.0,277.0,858310.0,40.0,7.43,29.6,146.0,55.0,1367.1
89,10,NaN,NaN,NaN,8,53.856,54.30,36.2,222.21,220.09,...,33.2,104.0,274.0,971550.0,57.0,7.03,36.3,194.0,64.0,2541.9

## Label-based selection
The second paradigm for attribute selection is the one followed by the `loc` operator: **label-based selection**. In this paradigm, it's the data index value, not its position, which matters.

For example, to get the first entry in `temperature lower leg [degree C]`, we would now do the following:

In [25]:
dehydration.loc[0,'temperature lower leg [degree C]']

31.9

`iloc` is conceptually simpler than `loc` because it ignores the dataset's indices. When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. `loc`, by contrast, uses the information in the indices to do its work. Since your dataset usually has meaningful indices, it's usually easier to do things using `loc` instead. For example, here's one operation that's much easier using `loc`:

In [26]:
dehydration.loc[:,['id','weight measured using InBody 720 [kg]','salivary amylase [units/l]']]

    id  weight measured using InBody 720 [kg]  salivary amylase [units/l]
0    1                                  85.90                         NaN
1    1                                  85.56                         NaN
2    1                                  85.32                    111700.0
3    1                                  84.90                         NaN
4    1                                  84.48                    154110.0
..  ..                                    ...                         ...
85  10                                  55.10                    542510.0
86  10                                  54.92                    777120.0
87  10                                  54.64                    777000.0
88  10                                  54.48                    858310.0
89  10                                  54.30                    971550.0

[90 rows x 3 columns]

`Write down the code to display all the rows in the columns "weight measured using Kern DE 150K2D [kg]", "temperature lower leg [degree C]", and "salivary protein concentration [mg/l]".`

In [27]:
dehydration.loc[:,['weight measured using Kern DE 150K2D [kg]','temperature lower leg [degree C]','salivary protein concentration [mg/l]']]

,weight measured using Kern DE 150K2D [kg],temperature lower leg [degree C],salivary protein concentration [mg/l]
0,85.515,31.9,576.8
1,85.275,31.3,544.1
2,84.895,31.2,537.3
3,84.540,30.9,595.6
4,84.185,31.7,541.3
...,...,...,...
85,54.756,33.0,779.9
86,54.522,32.8,1202.9
87,54.302,32.6,1269.2
88,54.070,32.4,1367.1
89,53.856,33.2,2541.9

## Choosing between `loc` and `iloc`
When choosing or transitioning between `loc` and `iloc`, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different **indexing schemes**.

- `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. 
- `loc`, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values `Apples, ..., Potatoes, ...`, and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index `df.loc['Apples':'Potatoes']` than it is to index something like `df.loc['Apples', 'Potatoet]` (`t` coming after `s` in the alphabet).

This is particularly *confusing* when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for `df.loc[0:999]`.

Otherwise, the semantics of using `loc` are the same as those for `iloc`.

## Manipulatung the index
Label-based selection derives its power from the labels in the index. Critically, the index we use is **not immutable**. We can manipulate the index in any way we see fit.

The `set_index()` method can be used to do the job. This is useful if you can come up with an index for the dataset which is better than the current one. Here is what happens when we `set_index` to the `title` field:

In [29]:
dehydration.set_index("weight measured using Kern DE 150K2D [kg]")

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],impedance trunk at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
weight measured using Kern DE 150K2D [kg],,,,,,,,,,,,,,,,,,,,,
85.515,1,29.0,190.0,8.0,0,85.90,54.0,231.27,232.63,14.98,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
85.275,1,NaN,NaN,NaN,1,85.56,53.7,234.75,240.08,14.99,...,31.3,56.0,146.0,NaN,29.0,NaN,NaN,78.0,NaN,544.1
84.895,1,NaN,NaN,NaN,2,85.32,54.0,230.81,233.95,14.84,...,31.2,55.0,134.0,111700.0,35.0,1.240,11.80,84.0,37.0,537.3
84.540,1,NaN,NaN,NaN,3,84.90,54.0,231.96,236.32,14.86,...,30.9,53.0,123.0,NaN,38.0,0.947,10.60,95.0,38.0,595.6
84.185,1,NaN,NaN,NaN,4,84.48,53.9,227.03,232.07,14.56,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54.756,10,NaN,NaN,NaN,4,55.10,36.5,220.02,214.26,17.78,...,33.0,46.0,139.0,542510.0,31.0,1.620,15.10,94.0,45.0,779.9
54.522,10,NaN,NaN,NaN,5,54.92,36.7,222.31,210.66,17.27,...,32.8,NaN,164.0,777120.0,37.0,3.720,21.30,144.0,50.0,1202.9
54.302,10,NaN,NaN,NaN,6,54.64,36.4,220.09,215.22,17.69,...,32.6,51.0,160.0,777000.0,43.0,4.560,26.30,147.0,55.0,1269.2
54.070,10,NaN,NaN,NaN,7,54.48,36.6,220.29,215.13,17.56,...,32.4,60.0,277.0,858310.0,40.0,7.430,29.60,146.0,55.0,1367.1
53.856,10,NaN,NaN,NaN,8,54.30,36.2,222.21,220.09,17.64,...,33.2,104.0,274.0,971550.0,57.0,7.030,36.30,194.0,64.0,2541.9

## Conditional Selection
So far we've been indexing various strides of data, using structural properties of the DataFrame itself. To do *interesting* things with the data, however, we often need to ask questions based on conditions.

For example, suppose that we're interested specifically in "total body water using InBody 720 [l]" higher than 55 or not.

In [30]:
dehydration['total body water using InBody 720 [l]'] > 52

0      True
1      True
2      True
3      True
4      True
      ...
85    False
86    False
87    False
88    False
89    False
Name: total body water using InBody 720 [l], Length: 90, dtype: bool

This operation produced a Series of `True/False` booleans based on "total body water using InBody 720 [l]" of each record. This result can then be used inside of `loc` to select the relevant data:

In [31]:
dehydration.loc[dehydration['total body water using InBody 720 [l]'] > 55]

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
9,2,22.0,190.0,8.5,0,87.115,87.88,58.0,226.19,225.33,...,30.9,NaN,NaN,489550.0,26.0,0.461,8.08,131.0,32.0,1232.7
10,2,NaN,NaN,NaN,1,86.870,87.68,58.3,228.16,224.29,...,30.4,NaN,172.0,584850.0,27.0,0.445,8.84,54.0,33.0,1510.1
11,2,NaN,NaN,NaN,2,86.530,87.40,58.4,223.38,222.02,...,30.3,52.0,115.0,NaN,34.0,0.434,13.70,86.0,NaN,1604.0
12,2,NaN,NaN,NaN,3,86.155,87.00,58.3,223.78,218.66,...,29.9,65.0,155.0,313860.0,34.0,0.401,8.56,68.0,36.0,2311.3
13,2,NaN,NaN,NaN,4,85.795,86.58,57.9,222.80,220.11,...,30.1,68.0,153.0,951500.0,39.0,0.814,9.25,81.0,36.0,2022.1
14,2,NaN,NaN,NaN,5,85.420,86.28,58.4,222.94,220.10,...,30.1,75.0,176.0,NaN,38.0,1.130,12.20,109.0,NaN,NaN
15,2,NaN,NaN,NaN,6,85.055,85.94,58.2,221.02,220.94,...,29.9,77.0,165.0,NaN,NaN,1.600,15.30,NaN,NaN,NaN
16,2,NaN,NaN,NaN,7,84.685,85.52,58.1,221.19,220.54,...,30.1,81.0,180.0,NaN,52.0,3.100,22.70,138.0,NaN,NaN
17,2,NaN,NaN,NaN,8,84.325,85.08,57.7,223.00,223.70,...,29.8,117.0,279.0,NaN,52.0,4.020,24.50,156.0,NaN,NaN

This DataFrame has 9 rows. The original had 90. That means that 10% of samples has total body water content lower than 55 [l].

We also wanted to know which ones are has salivary cortisol lower than 0.500 ng/ml. Cortisol is a hormone that affects almost every organ and tissue in your body. It plays an important role in helping you to response to stress and regulate metabolism. High levels of cortisol may mean you have Cushing's syndrome, while low levels may mean you have Addison disease or another type of adrenal disease.

We can use the ampersand (`&`) to bring the two questions together:

In [32]:
dehydration.loc[(dehydration["total body water using InBody 720 [l]"] > 55) & (dehydration["salivary cortisol [ng/ml]"] < 0.500)]

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
9,2,22.0,190.0,8.5,0,87.115,87.88,58.0,226.19,225.33,...,30.9,NaN,NaN,489550.0,26.0,0.461,8.08,131.0,32.0,1232.7
10,2,NaN,NaN,NaN,1,86.870,87.68,58.3,228.16,224.29,...,30.4,NaN,172.0,584850.0,27.0,0.445,8.84,54.0,33.0,1510.1
11,2,NaN,NaN,NaN,2,86.530,87.40,58.4,223.38,222.02,...,30.3,52.0,115.0,NaN,34.0,0.434,13.70,86.0,NaN,1604.0
12,2,NaN,NaN,NaN,3,86.155,87.00,58.3,223.78,218.66,...,29.9,65.0,155.0,313860.0,34.0,0.401,8.56,68.0,36.0,2311.3

Suppose we are interested in samples with "total body water using InBody 720 [l]" higher than 55 *or* the "temperature lower leg [degree C]" that is higher or equal to the average. 

`Write down your code making use of a pipe (`|`) and the average value functions `mean()`. You should see 59 rows.`

In [35]:
meany = dehydration["temperature lower leg [degree C]"].mean()
dehydration.loc[(dehydration["total body water using InBody 720 [l]"] > 55) | (dehydration["temperature lower leg [degree C]"] > meany)]

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1,29.0,190.0,8.0,0,85.515,85.90,54.0,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
4,1,NaN,NaN,NaN,4,84.185,84.48,53.9,227.03,232.07,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3
5,1,NaN,NaN,NaN,5,83.810,84.28,53.9,230.39,233.69,...,32.0,69.0,163.0,127170.0,39.0,0.806,10.80,104.0,37.0,629.7
7,1,NaN,NaN,NaN,7,83.130,83.60,53.3,234.05,236.11,...,31.7,67.0,152.0,266060.0,41.0,NaN,NaN,115.0,44.0,915.6
8,1,NaN,NaN,NaN,8,82.840,83.16,53.3,232.22,236.72,...,31.7,70.0,165.0,243150.0,41.0,2.110,15.40,108.0,45.0,878.0
9,2,22.0,190.0,8.5,0,87.115,87.88,58.0,226.19,225.33,...,30.9,NaN,NaN,489550.0,26.0,0.461,8.08,131.0,32.0,1232.7
10,2,NaN,NaN,NaN,1,86.870,87.68,58.3,228.16,224.29,...,30.4,NaN,172.0,584850.0,27.0,0.445,8.84,54.0,33.0,1510.1
11,2,NaN,NaN,NaN,2,86.530,87.40,58.4,223.38,222.02,...,30.3,52.0,115.0,NaN,34.0,0.434,13.70,86.0,NaN,1604.0
12,2,NaN,NaN,NaN,3,86.155,87.00,58.3,223.78,218.66,...,29.9,65.0,155.0,313860.0,34.0,0.401,8.56,68.0,36.0,2311.3
13,2,NaN,NaN,NaN,4,85.795,86.58,57.9,222.80,220.11,...,30.1,68.0,153.0,951500.0,39.0,0.814,9.25,81.0,36.0,2022.1
14,2,NaN,NaN,NaN,5,85.420,86.28,58.4,222.94,220.10,...,30.1,75.0,176.0,NaN,38.0,1.130,12.20,109.0,NaN,NaN
15,2,NaN,NaN,NaN,6,85.055,85.94,58.2,221.02,220.94,...,29.9,77.0,165.0,NaN,NaN,1.600,15.30,NaN,NaN,NaN
16,2,NaN,NaN,NaN,7,84.685,85.52,58.1,221.19,220.54,...,30.1,81.0,180.0,NaN,52.0,3.100,22.70,138.0,NaN,NaN
17,2,NaN,NaN,NaN,8,84.325,85.08,57.7,223.00,223.70,...,29.8,117.0,279.0,NaN,52.0,4.020,24.50,156.0,NaN,NaN
18,3,26.0,180.0,10.0,0,79.520,79.48,53.0,189.75,194.49,...,31.7,NaN,NaN,108160.0,13.0,1.340,10.10,57.0,20.0,361.3
21,3,NaN,NaN,NaN,3,78.460,78.42,53.2,187.37,194.76,...,31.8,166.0,383.0,294680.0,22.0,1.980,18.60,80.0,28.0,733.3
22,3,NaN,NaN,NaN,4,78.055,78.06,53.3,185.44,192.93,...,31.7,73.0,175.0,434850.0,26.0,1.900,18.20,81.0,32.0,918.8
24,3,NaN,NaN,NaN,6,77.255,77.32,53.1,190.50,195.00,...,31.9,76.0,177.0,843640.0,41.0,2.750,20.90,111.0,35.0,2121.9
25,3,NaN,NaN,NaN,7,76.890,76.92,53.1,187.63,193.63,...,32.0,76.0,191.0,1533550.0,52.0,3.990,25.40,126.0,40.0,2511.1
26,3,NaN,NaN,NaN,8,76.545,76.54,52.7,188.75,194.29,...,32.5,67.0,185.0,951790.0,49.0,6.610,27.10,184.0,37.0,1470.1
36,5,30.0,179.0,8.6,0,77.580,78.04,49.9,221.31,220.86,...,31.6,NaN,NaN,107910.0,17.0,1.640,10.80,63.0,25.0,444.9
38,5,NaN,NaN,NaN,2,77.185,77.54,49.5,221.43,223.07,...,32.4,32.0,123.0,273810.0,20.0,1.510,13.10,71.0,29.0,682.2
39,5,NaN,NaN,NaN,3,76.940,77.36,49.6,217.19,221.30,...,33.0,46.0,176.0,347070.0,21.0,1.810,15.00,72.0,32.0,926.8
40,5,NaN,NaN,NaN,4,76.690,77.10,49.6,216.16,220.57,...,32.4,46.0,127.0,340360.0,23.0,2.550,16.70,80.5,30.0,737.6
41,5,NaN,NaN,NaN,5,76.415,76.38,49.7,214.64,218.24,...,32.4,128.0,184.0,466620.0,21.0,3.360,21.40,71.5,33.0,1177.9
42,5,NaN,NaN,NaN,6,76.155,76.22,49.6,213.41,214.27,...,32.1,66.0,187.0,646940.0,26.0,4.820,26.00,86.5,37.0,1540.2
43,5,NaN,NaN,NaN,7,75.890,75.86,49.4,213.65,216.78,...,32.4,96.0,260.0,842230.0,24.0,6.740,31.40,77.5,36.0,2004.2
44,5,NaN,NaN,NaN,8,75.630,75.60,49.2,215.04,216.77,...,32.8,NaN,280.0,895500.0,26.0,8.440,35.80,97.0,39.0,2347.2
45,6,20.0,184.0,9.1,0,77.000,76.92,53.1,193.53,199.97,...,32.0,NaN,NaN,74420.0,23.0,1.380,11.60,72.5,33.0,708.6
46,6,NaN,NaN,NaN,1,76.815,76.64,53.2,193.05,200.33,...,32.8,28.0,127.0,58590.0,27.0,0.966,10.40,67.0,31.0,491.2
47,6,NaN,NaN,NaN,2,76.555,76.46,53.7,196.45,199.67,...,32.0,28.0,98.0,126270.0,28.0,1.150,12.50,84.0,36.0,775.7
48,6,NaN,NaN,NaN,3,76.250,76.12,53.2,193.45,196.91,...,32.3,50.0,141.0,187840.0,41.0,1.230,11.80,106.0,39.0,996.7
49,6,NaN,NaN,NaN,4,75.950,75.86,53.0,192.66,195.08,...,32.1,56.0,143.0,275460.0,44.0,1.070,11.50,113.0,41.0,1317.8
50,6,NaN,NaN,NaN,5,75.665,75.50,53.1,192.04,194.30,...,32.4,44.0,107.0,196330.0,62.0,1.640,13.40,153.0,46.0,1523.7
51,6,NaN,NaN,NaN,6,75.380,75.28,53.2,189.32,191.11,...,32.3,65.0,157.0,382360.0,70.0,2.690,15.90,166.0,43.0,1393.6
52,6,NaN,NaN,NaN,7,75.085,74.98,53.0,191.21,189.88,...,32.4,62.0,164.0,411160.0,68.0,3.060,18.10,171.0,48.0,1865.8
53,6,NaN,NaN,NaN,8,74.810,74.58,53.1,188.02,189.98,...,32.4,NaN,187.0,504720.0,76.0,3.650,19.30,170.5,46.0,1957.3
54,7,25.0,177.0,9.1,0,81.830,82.26,49.6,212.79,209.63,...,32.3,NaN,NaN,58300.0,15.0,1.990,11.20,87.0,20.0,224.8
59,7,NaN,NaN,NaN,5,80.045,80.62,49.6,207.88,211.02,...,31.7,118.0,291.0,315640.0,27.0,0.999,11.60,120.0,30.0,628.6
60,7,NaN,NaN,NaN,6,79.710,80.22,50.0,204.41,206.65,...,31.6,98.0,NaN,465450.0,27.0,1.100,12.60,115.0,33.0,920.7
62,7,NaN,NaN,NaN,8,79.010,79.30,49.1,211.94,217.17,...,31.7,178.0,405.0,897000.0,44.0,4.960,24.40,151.0,39.0,2210.3
71,8,NaN,NaN,NaN,8,82.025,82.50,52.0,196.77,207.22,...,31.6,65.0,146.0,383780.0,40.0,2.830,19.60,130.0,37.0,947.2
72,9,28.0,180.0,7.8,0,82.490,83.14,52.0,200.28,193.39,...,31.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,9,NaN,NaN,NaN,1,82.400,82.88,52.2,200.01,191.74,...,31.8,156.0,NaN,105040.0,16.0,0.452,7.60,51.0,23.0,299.6
74,9,NaN,NaN,NaN,2,82.085,82.50,52.1,200.66,191.81,...,31.7,52.0,142.0,188800.0,16.0,0.295,6.66,58.0,25.0,351.1
75,9,NaN,NaN,NaN,3,81.700,82.32,52.0,199.64,188.46,...,32.0,83.0,235.0,230110.0,18.0,0.269,6.25,65.0,29.0,429.4
76,9,NaN,NaN,NaN,4,81.460,82.04,52.2,201.09,190.73,...,32.0,93.0,NaN,289070.0,20.0,0.219,5.51,65.0,32.0,577.6
78,9,NaN,NaN,NaN,6,80.920,81.44,52.2,197.90,188.12,...,32.5,109.0,279.0,860800.0,34.0,0.842,9.60,114.0,46.0,1362.1
79,9,NaN,NaN,NaN,7,80.615,81.14,51.7,196.77,187.56,...,32.8,114.0,304.0,902000.0,44.0,2.210,15.10,164.0,54.0,1813.5
80,9,NaN,NaN,NaN,8,80.265,80.86,51.9,196.36,185.01,...,32.6,168.0,NaN,1380200.0,76.0,4.650,21.40,260.0,68.0,2579.2
81,10,26.0,164.0,9.0,0,55.550,55.98,36.1,238.72,226.03,...,32.7,NaN,NaN,470140.0,20.0,0.608,9.24,56.0,30.0,538.5
82,10,NaN,NaN,NaN,1,55.378,55.38,36.3,228.74,217.44,...,32.8,15.0,79.0,248870.0,23.0,0.702,8.36,64.0,33.0,410.9
83,10,NaN,NaN,NaN,2,55.176,55.64,36.6,224.85,217.88,...,32.9,26.0,90.0,638890.0,23.0,1.060,7.65,60.0,33.0,450.9
84,10,NaN,NaN,NaN,3,54.968,55.38,36.6,224.03,218.13,...,33.0,38.0,100.0,420110.0,26.0,1.100,9.99,83.0,38.0,546.8
85,10,NaN,NaN,NaN,4,54.756,55.10,36.5,220.02,214.26,...,33.0,46.0,139.0,542510.0,31.0,1.620,15.10,94.0,45.0,779.9
86,10,NaN,NaN,NaN,5,54.522,54.92,36.7,222.31,210.66,...,32.8,NaN,164.0,777120.0,37.0,3.720,21.30,144.0,50.0,1202.9
87,10,NaN,NaN,NaN,6,54.302,54.64,36.4,220.09,215.22,...,32.6,51.0,160.0,777000.0,43.0,4.560,26.30,147.0,55.0,1269.2
88,10,NaN,NaN,NaN,7,54.070,54.48,36.6,220.29,215.13,...,32.4,60.0,277.0,858310.0,40.0,7.430,29.60,146.0,55.0,1367.1
89,10,NaN,NaN,NaN,8,53.856,54.30,36.2,222.21,220.09,...,33.2,104.0,274.0,971550.0,57.0,7.030,36.30,194.0,64.0,2541.9

## Assigning Data
Going the other way, assigning data to a DataFrame is easy. You can assign a constant value to rows 2 through 5 in the height column:

In [36]:
dehydration.iloc[1:5,2]  = 190
dehydration.head(10)

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1,29.0,190.0,8.0,0,85.515,85.90,54.0,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
1,1,NaN,190.0,NaN,1,85.275,85.56,53.7,234.75,240.08,...,31.3,56.0,146.0,NaN,29.0,NaN,NaN,78.0,NaN,544.1
2,1,NaN,190.0,NaN,2,84.895,85.32,54.0,230.81,233.95,...,31.2,55.0,134.0,111700.0,35.0,1.240,11.80,84.0,37.0,537.3
3,1,NaN,190.0,NaN,3,84.540,84.90,54.0,231.96,236.32,...,30.9,53.0,123.0,NaN,38.0,0.947,10.60,95.0,38.0,595.6
4,1,NaN,190.0,NaN,4,84.185,84.48,53.9,227.03,232.07,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3
5,1,NaN,NaN,NaN,5,83.810,84.28,53.9,230.39,233.69,...,32.0,69.0,163.0,127170.0,39.0,0.806,10.80,104.0,37.0,629.7
6,1,NaN,NaN,NaN,6,83.470,83.88,53.6,234.76,236.69,...,31.4,NaN,NaN,262940.0,42.0,0.867,11.00,116.0,43.0,773.9
7,1,NaN,NaN,NaN,7,83.130,83.60,53.3,234.05,236.11,...,31.7,67.0,152.0,266060.0,41.0,NaN,NaN,115.0,44.0,915.6
8,1,NaN,NaN,NaN,8,82.840,83.16,53.3,232.22,236.72,...,31.7,70.0,165.0,243150.0,41.0,2.110,15.40,108.0,45.0,878.0
9,2,22.0,190.0,8.5,0,87.115,87.88,58.0,226.19,225.33,...,30.9,NaN,NaN,489550.0,26.0,0.461,8.08,131.0,32.0,1232.7

# Summary Functions and Map - Extract Insights from Your Data
You have now learned how to select relevant data out of a DataFrame or Series. Plucking the right data out of our data representation is critical to getting work done.

However, the data does not always come out of memory in the format we want it in right out of the bat. Sometimes we have to do some more work ourselves to reformat it for the task at hand. We will cover different operations we can apply to our data to get the input "just right".

## Summary Functions
Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way. For example, consider the `describe()` method:

In [37]:
dehydration.describe()

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
count,90.000000,10.000000,14.000000,10.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,...,90.000000,74.000000,69.000000,8.100000e+01,88.000000,86.000000,86.000000,88.000000,82.000000,85.000000
mean,5.500000,25.500000,182.785714,8.720000,4.000000,78.113756,78.462222,50.511111,210.960000,211.831000,...,31.592222,74.702703,188.000000,4.732060e+05,32.761364,1.949442,14.774186,105.193182,36.913293,1187.447059
std,2.888373,3.719319,7.836586,0.890443,2.596454,8.451373,8.534491,5.472884,14.454443,14.338504,...,0.887140,34.255178,68.325346,4.362253e+05,15.199814,1.734924,6.568123,43.845368,12.709331,1184.456817
min,1.000000,20.000000,164.000000,7.200000,0.000000,53.856000,54.300000,36.100000,185.440000,185.010000,...,29.800000,15.000000,79.000000,5.830000e+04,11.000000,0.219000,5.510000,51.000000,20.000000,224.800000
25%,3.000000,22.750000,179.250000,8.125000,2.000000,76.833750,76.920000,49.425000,199.732500,197.600000,...,31.125000,52.000000,142.000000,1.887400e+05,21.750000,0.886500,10.425000,75.750000,29.250000,544.100000
50%,5.500000,26.000000,182.000000,8.800000,4.000000,80.345000,80.880000,52.000000,212.960000,214.315000,...,31.700000,67.000000,172.000000,3.156400e+05,27.500000,1.245000,12.650000,90.000000,34.500000,773.900000
75%,8.000000,28.750000,190.000000,9.100000,6.000000,83.050000,83.515000,53.200000,222.285000,221.352500,...,32.375000,92.250000,235.000000,6.388900e+05,41.000000,2.195000,17.925000,127.000000,40.000000,1510.100000
max,10.000000,30.000000,190.000000,10.000000,8.000000,87.115000,87.880000,58.400000,238.720000,240.080000,...,33.200000,178.000000,405.000000,2.663600e+06,76.000000,8.440000,36.300000,267.000000,88.000000,8815.200000

In [38]:
dehydration["sweat chloride [mmol/l]"].describe()

count     74.000000
mean      74.702703
std       34.255178
min       15.000000
25%       52.000000
50%       67.000000
75%       92.250000
max      178.000000
Name: sweat chloride [mmol/l], dtype: float64

This method generates a high-level summary of the attributes of the entire DataFrame or specific given columns. It is type-aware, meaning that its output changes based on the data type of the input. The output above only makes sense for numerical data

To see a list of unique values we can use the `unique()` function:

In [42]:
dehydration["running interval"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

To see a list of unique values and how often they occur in the dataset, we can use the `value_counts()` method:

In [43]:
dehydration["running interval"].value_counts()

8    10
7    10
6    10
5    10
4    10
3    10
2    10
1    10
0    10
Name: running interval, dtype: int64

## Maps
A **map** is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

There are two mapping methods that you will use often.

`map()` is the first, and slightly simpler one. For example, suppose that we wanted to remean the scores the wines received to 0. We can do this as follows:

In [44]:
total_body_water_mean = dehydration["total body water using InBody 720 [l]"].mean()
dehydration["total body water using InBody 720 [l]"].map(lambda p: p - total_body_water_mean)

0      3.488889
1      3.188889
2      3.488889
3      3.488889
4      3.388889
        ...
85   -14.011111
86   -13.811111
87   -14.111111
88   -13.911111
89   -14.311111
Name: total body water using InBody 720 [l], Length: 90, dtype: float64

The function you pass to `map()` should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. map() returns a new Series where all the values have been transformed by your function. In biomedical and chemical engineering, there are often opportunities for you to adjust values based on certain parameters, e.g., mean-adjusted value.

`lambda` represents an anonymous (i.e. unnamed) function. When used with a series, each element of the series is fed into the lambda function.

`apply()` is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [45]:
def remean_points(row):
    row["total body water using InBody 720 [l]"] = row["total body water using InBody 720 [l]"] - total_body_water_mean
    return row

dehydration.apply(remean_points, axis='columns')

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1.0,29.0,190.0,8.0,0.0,85.515,85.90,3.488889,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8
1,1.0,NaN,190.0,NaN,1.0,85.275,85.56,3.188889,234.75,240.08,...,31.3,56.0,146.0,NaN,29.0,NaN,NaN,78.0,NaN,544.1
2,1.0,NaN,190.0,NaN,2.0,84.895,85.32,3.488889,230.81,233.95,...,31.2,55.0,134.0,111700.0,35.0,1.240,11.80,84.0,37.0,537.3
3,1.0,NaN,190.0,NaN,3.0,84.540,84.90,3.488889,231.96,236.32,...,30.9,53.0,123.0,NaN,38.0,0.947,10.60,95.0,38.0,595.6
4,1.0,NaN,190.0,NaN,4.0,84.185,84.48,3.388889,227.03,232.07,...,31.7,36.0,185.0,154110.0,37.0,0.727,9.64,91.0,32.0,541.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,10.0,NaN,NaN,NaN,4.0,54.756,55.10,-14.011111,220.02,214.26,...,33.0,46.0,139.0,542510.0,31.0,1.620,15.10,94.0,45.0,779.9
86,10.0,NaN,NaN,NaN,5.0,54.522,54.92,-13.811111,222.31,210.66,...,32.8,NaN,164.0,777120.0,37.0,3.720,21.30,144.0,50.0,1202.9
87,10.0,NaN,NaN,NaN,6.0,54.302,54.64,-14.111111,220.09,215.22,...,32.6,51.0,160.0,777000.0,43.0,4.560,26.30,147.0,55.0,1269.2
88,10.0,NaN,NaN,NaN,7.0,54.070,54.48,-13.911111,220.29,215.13,...,32.4,60.0,277.0,858310.0,40.0,7.430,29.60,146.0,55.0,1367.1
89,10.0,NaN,NaN,NaN,8.0,53.856,54.30,-14.311111,222.21,220.09,...,33.2,104.0,274.0,971550.0,57.0,7.030,36.30,194.0,64.0,2541.9

If we had called `dehydration.apply` with `axis='index'`, then instead of passing a function to transform each row, we would need to give a function to transform each column.

***Note that `map()` and `apply()` return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of `dehydration`, we can see that it still has its original `total body water` value.***

In [47]:
dehydration.head(1)

,id,age [years],height [cm],running speed [km/h],running interval,weight measured using Kern DE 150K2D [kg],weight measured using InBody 720 [kg],total body water using InBody 720 [l],impedance right arm at 1000kHz [Ohm],impedance left arm at 1000kHz [Ohm],...,temperature lower leg [degree C],sweat chloride [mmol/l],sweat osmolality [mmol/kg],salivary amylase [units/l],salivary chloride [mmol/l],salivary cortisol [ng/ml],salivary cortisone [ng/ml],salivary osmolality [mmol/kg],salivary potassium [mmol/l],salivary protein concentration [mg/l]
0,1,29.0,190.0,8.0,0,85.515,85.9,54.0,231.27,232.63,...,31.9,NaN,NaN,NaN,28.0,NaN,NaN,76.0,NaN,576.8

# Problem 1 - Filtering and Sorting Data

**Step 1. Import the necessary libraries**

In [3]:
import pandas as pd

**Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv)**

**Step 3. Assign it to a variable called euro12**

In [4]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

**Step 4. Select only the Goal column.**

In [53]:
euro12.loc[:,'Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

**Step 5. How many team participated in the Euro2012?**

In [54]:
euro12['Team'].describe()
#16 teams

count         16
unique        16
top       Russia
freq           1
Name: Team, dtype: object

**Step 6. What is the number of columns in the dataset?**

In [55]:
euro12.describe()
#30 columns

,Goals,Shots on target,Shots off target,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000,...,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.00000,16.000000
mean,4.750000,17.125000,24.937500,54.937500,1.250000,0.187500,0.0625,1.375000,1763.375000,1467.375000,...,4.750000,12.125000,52.937500,55.625000,8.125000,7.437500,0.187500,10.87500,10.87500,17.250000
std,2.886751,10.582218,10.680005,26.065223,1.612452,0.403113,0.2500,1.024695,906.177898,827.580721,...,1.983263,4.573474,22.915697,18.973227,4.910872,3.265348,0.403113,3.53789,3.53789,1.527525
min,1.000000,7.000000,10.000000,27.000000,0.000000,0.000000,0.0000,0.000000,851.000000,606.000000,...,1.000000,6.000000,25.000000,30.000000,2.000000,4.000000,0.000000,7.00000,7.00000,15.000000
25%,2.750000,9.750000,18.000000,36.500000,0.000000,0.000000,0.0000,0.750000,1190.750000,951.500000,...,3.000000,9.750000,35.750000,44.500000,4.000000,5.000000,0.000000,8.50000,8.50000,16.000000
50%,4.500000,13.000000,23.500000,44.000000,1.000000,0.000000,0.0000,1.500000,1522.000000,1211.500000,...,5.000000,11.000000,45.500000,51.000000,7.500000,6.500000,0.000000,10.50000,10.50000,17.000000
75%,5.250000,22.000000,32.250000,68.750000,2.000000,0.000000,0.0000,2.000000,1934.750000,1546.500000,...,6.000000,13.500000,64.000000,64.750000,11.250000,9.000000,0.000000,12.50000,12.50000,18.250000
max,12.000000,42.000000,45.000000,110.000000,6.000000,1.000000,1.0000,3.000000,4317.000000,3820.000000,...,9.000000,22.000000,102.000000,90.000000,19.000000,16.000000,1.000000,18.00000,18.00000,20.000000

**Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline**

In [59]:
discipline = euro12.loc[:,['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

**Step 8. Sort the teams by Red Cards, then to Yellow Cards**

In [62]:
print(discipline.sort_values(by=['Red Cards']))
discipline.sort_values(by=['Yellow Cards'])

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

**Step 9. (Calculate the mean Yellow Cards given per Team**

In [63]:
discipline['Yellow Cards'].describe()
#7.437

count    16.000000
mean      7.437500
std       3.265348
min       4.000000
25%       5.000000
50%       6.500000
75%       9.000000
max      16.000000
Name: Yellow Cards, dtype: float64

**Step 10. Filter teams that scored more than 6 goals**

In [64]:
euro12.loc[(euro12["Goals"] > 6)]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

**Step 11. Select the teams that start with G**

In [74]:
euro12.loc[(euro12['Team']>'G') & (euro12['Team']<'H')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

**Step 12. Select the first 7 columns**

In [76]:
euro12.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

**Step 13. Select all columns except the last 3.**

In [79]:
euro12.iloc[:,0:32]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

**Step 14. Present only the Shooting Accuracy from England, Italy and Russia**

In [89]:
euro12.loc[[3,7,12],['Shooting Accuracy']]

   Shooting Accuracy
3              50.0%
7              43.0%
12             22.5%

# Problem 2 GroupBy - Split-Apply-Combine

**Step 1. Import the necessary libraries**

In [90]:
import pandas as pd

**Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv)**

**Step 3. Assign it to a variable called drinks**

In [91]:
drank = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drank

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

**Step 4. Which continent drinks more beer on average?**

In [100]:
drank.groupby('continent').beer_servings.mean()
#EU drinks the most

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

**Step 5. For each continent print the statistics for wine consumption**

In [102]:
drank.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

**Step 6. Print the mean alcohol consumption per continent for every column**

In [104]:
drank.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

**Step 7. Print the median alcohol consumption per continent for every column**

In [105]:
drank.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

**Step 8. Print the mean, min and max values for spirit consumption**

In [108]:
drank.groupby('continent').describe()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ... wine_servings         \
             max           count        mean  ...           75%    max
continent                                     ...
AF         376.0            53.0   16.339623  ...         13.00  233.0
AS         247.0            44.0   60.840909  ...          8.00  123.0
EU         361.0            45.0  132.555556  ...        195.00  370.0
OC         306.0            16.0   58.437500  ...         23.25  212.0
SA         333.0            12.0  114.750000  ...         98.50  221.0

          total_litres_of_pure_alcohol                                        \
                                 count      mean       std  min   25%    50%
continent
AF                                53.0  3.007547  2.647557  0.0  0.70   2.30
AS                                44.0  2.170455  2.770239  0.0  0.10   1.20
EU                                45.0  8.617778  3.358455  0.0  6.60  10.00
OC                                16.0  3.381250  3.345688  0.0  1.00   1.75
SA                                12.0  6.308333  1.531166  3.8  5.25   6.85


              75%   max
continent
AF          4.700   9.1
AS          2.425  11.5
EU         10.900  14.4
OC          6.150  10.4
SA          7.375   8.3

[5 rows x 32 columns]